<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestCaseSuite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="com.api.NswNews.runner.NewsRunner" />
  </classes>
  </test> <!-- Test -->
</suite> <!-- TestCaseSuite -->
